<?xml version="1.0" encoding="utf-8"?>
<!--
Web.config file for SKF.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  <appSettings>
    <add key="Host" value="#" />
    <add key="EnableSsl" value="#" />
    <add key="UserName" value="#" />
    <add key="Password" value="#" />
    <add key="Port" value="#" />
    <add key="connectionstring" value="Data Source=204.93.216.11;Initial Catalog=gautam18_skf;Persist Security Info=True;User ID=gautam18_mysql;Password=pravin18" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=204.93.216.11;Initial Catalog=gautam18_skf;Persist Security Info=True;User ID=gautam18_mysql;Password=pravin18" providerName="System.Data.SqlClient"/>
    <!--<add name="ConnectionString" connectionString="Data Source=TECHNOLOGY\MSSQLEXPRESS;Initial Catalog=Vbat;Persist Security Info=True;User ID=sa;Password=admin" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>